.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background: radial-gradient(ellipse at center, #9c9889 0%,#FAF9F6 100%);
}

#tsparticles {
     position: absolute;
     left: 0;
     top: 0;
     z-index: 0;
}

.section {
  border-radius: 1%;
  padding: 20px;
  border: 0.2px solid rgba(0, 0, 0, 0);
  z-index: 1;
}

.section:hover {
  border: 0.2px solid #ffffff;
  transition: 0.5s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
